.car-brand-div {
    background-color: #121212 !important;
    width: 100%;
    -webkit-box-shadow: 10px 10px 50px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 50px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 50px -6px rgba(0, 0, 0, 0.75);
}

.menu {
    background-color: #121212;
    min-height: 100vh;
}

.row {
    margin: 0 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #FF4C16;
    color: #eee;
}

a {
    color: #FF4C16
}

h4 {
    font-family: 'Quicksand', sans-serif;
    color: #eee;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    color: #FF4C16;
    font-weight: bolder;
}

.red-btn {
    background-color: #FF4C16;
    color: #eee;
    border: 0 !important;
    padding: .5em 3em;
}

.chart-container {
    -webkit-box-shadow: 10px 10px 49px -35px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 49px -35px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 49px -35px rgba(0, 0, 0, 0.75);
}

.edit-btn {
    background-color: #eee;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #eee;
}

.delete-btn {
    background-color: red;
    padding: .5em;
    border-radius: 5px;
    border: 1px solid #eee;
    color: #eee;
}

.table-div {
    padding: 1em;
    margin-top: 5em;
    -webkit-box-shadow: 10px 10px 49px -35px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 49px -35px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 49px -35px rgba(0, 0, 0, 0.75);
}

::-webkit-scrollbar {
    height: 1em;
    background-color: #222;
}

::-webkit-scrollbar-thumb {
    background: #FF4C16;
    border-radius: 10px;
}