.login-col {
    background-color: #FF4C16;
    margin-top: 10%;
    padding: 5%;
    -webkit-box-shadow: 7px 6px 29px -14px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 6px 29px -14px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 6px 29px -14px rgba(0, 0, 0, 0.75);
}

.row {
    margin: 0 !important;
}

.login-btn{
    width: 100%;
    background-color: #eee;
    margin-top: 1em;
}

label{
    color: #e1e1e1;
}

.login-header{
    background-color: #121212;
    height: 100vh;
}